/* custom overwrites for the theme */
.highlight {
    background-color: #e9f0ff;
}

pre {
    background-color: #e9f0ff;
    border: 1px solid #6070ff;
    border-left: none;
    border-right: none;
}

div.related {
    background-color: #304070;
}

div.document {
    background-color: #304090;
}

.field {
    border: 1px solid #6070ff;
}

.field-name {
    background-color: #90c0ff;
}

.hint {
    background-color: #e9f0ff;
    border: 1px solid #6090ff;
    border-radius: 5px;
}

div.note {
    background-color: #e9f0ff;
    border: 1px solid #6090ff;
    border-radius: 5px;
}