/* custom overwrites for the theme */
.highlight {
    background-color: #e9f0ff;
}

pre {
    background-color: #e9f0ff;
    border: 1px solid #6070ff;
    border-left: none;
    border-right: none;
}

div.related {
    background-color: #102060;
}

div.document {
    background-color: #203070;
}

.field {
    border: 1px solid #6070ff;
}

.field-name {
    background-color: #90c0ff;
}

.admonition {
    background-color: #e9f0ff;
    border: 1px solid #6090ff;
    border-radius: 5px;
}

div.footer {
    background-color: #001040;
}